version: "3.8"

services:
  nginx:
    build: .
    container_name: nginx_server
    ports:
      - "8080:80"
    restart: unless-stopped

  uptime-kuma:
    image: louislam/uptime-kuma:latest
    container_name: uptime-kuma
    volumes:
      - ./settings_files/kuma/kumadata:/app/data
      - ./settings_files/kuma/init:/init
    ports:
      - "3001:3001"
    restart: unless-stopped
    entrypoint: ["/bin/sh", "/init/init.sh"]
