services:
  nginx:
    build:
      context: .
      dockerfile: ./dockers/Dockerfile.nginx
    image: c0954832/nginx-server:latest
    container_name: nginx_server
    ports:
      - "80:80"
    restart: unless-stopped