name: Deploy to Gatus Azure VM

on:
  push:
    paths:
      - 'settings_files/gatus/config.yml'   # Only run when config.yml changes
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: SSH into Azure VM and deploy
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.AZURE_VM_HOST }}
          username: ${{ secrets.AZURE_VM_USER }}
          key: ${{ secrets.AZURE_VM_KEY }}
          script: |
            # Navigate to gatus directory (or create it)
            mkdir -p ~/gatus && cd ~/gatus

            # Get latest file
            sudo curl -O https://raw.githubusercontent.com/c0936931/csd-4503-group-project/main/settings_files/gatus/config.yml

            # Check if network exists
            docker network inspect my_network >/dev/null 2>&1 || docker network create my_network
            
            # Run docker
            sudo docker run --rm -d -p 8081:8080 -v $(pwd)/config.yml:/config/config.yml --network my_network --name gatus_other twinproduction/gatus:latest

