name: Lint and Validation

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      # html Validator
      - name: Install HTML Validator
        run: npm install -g html-validate

      - name: Validate HTML files
        run: html-validate html/index.html html/about.html html/episodes.html

      # css linting
      - name: Install CSS Linter
        run: npm install -g stylelint stylelint-config-standard

      - name: Lint CSS files
        run: stylelint html/css/styles.css --config lint-configs/.stylelintrc.json "css/**/*.css"

      # js linting
      - name: Install ESLint
        run: npm install -g eslint

      - name: Lint JavaScript files
        run: eslint "html/js/*.js" --config lint-configs/eslint.config.cjs "html/js/*.js"



